
h1{
    position: relative;
    font: 70px 'primary-semibold', Arial, sans-serif;
    color: $color-header-base;
    padding-bottom: 31px;
    margin-bottom: 26px;
}

h3{
    font: 45px 'primary-semibold', Arial, sans-serif;
}

h4{
    font: 18px 'secondary-regular', Arial, sans-serif;
}

.portfolio-block-inner{
    font-family: 'primary-semibold', Arial, sans-serif;
}

h5{
    font-size: 20px;
}


