
$color-primary: #fff000;

$color-primary-dark: #272d32;
$color-primary-light: #272d32;

$color-header-bg: #3d4148;
$color-header-base: #fafafa;

$color-parallax-bg: #f14a37;

$color-statistics-bg: #616d7b;

$color-posts-bg: #fff;

$height-footer-portfolio-block: 74px;

$width-contact-list: 400px;

$color-bg-footer: #2c2c2c;
$color-border-footer: #d4d4d4;
