
$color-body: #fafafa;
$color-primary: #fff000;
$color-primary-dark: #272d32;
$color-primary-light: #272d32;
$color-text-logo: #fafafa;
$color-link-base: #555;
$color-link-base-active: #ff3c1f;

$width-container: 1170px;

// fonts
$primary-light: 'Raleway-Light';
$primary-regular: 'Raleway-Regular';
$primary-semibold: 'Raleway-SemiBold';

$secondary-light: 'OpenSans-Light';
$secondary-light-italic: 'OpenSans-LightItalic';
$secondary-regular: 'OpenSans-Regular';
$secondary-semibold: 'OpenSans-SemiBold';

$primary-name-folder: 'raleway';
$secondary-name-folder: 'opensans';

// form
$color-btn: #fff;
$color-input-general: #4e5860;
$color-textarea-general: #4e5860;
$bg-btn-dark-active: #ff3c1f;
$border-btn-dark: #fff;
$border-btn-dark-active: #ff3c1f;
$border-textarea-general: linear-gradient(to bottom, transparent, #aab2bd);
$border-input-general: linear-gradient(to bottom, transparent, #aab2bd);
$width-textarea-general: 100%!important;
$width-input-general: 100%;
$width-btn: 148px;
$min-height-textarea-general: 214px;
$height-btn: 48px;

// head-section
$font-size-primary: 70px;
$color-head-section-dark: #303030;
$color-paragraph-head-dark: #4e5860;
$bg-line-head-title-light: #fff;
$bg-line-head-title-dark: linear-gradient(to right, #4e5860, #ff3c1f);
$width-line-head-title: 100px;
$width-paragraph-head-title: 775px;
$height-line-head-title: 1px;
$line-height-head-description: 25px;

// polyline
$color-polyline: #b1b8c4;

// header
$color-header-bg: #3a3e47;
$color-header-base: #fafafa;

// navigation
$bg-line-navigation-item: linear-gradient(to right, #ff3c1f, #902616);
$width-line-navigation-item-active: 100%;
$width-contact-list: 400px;
$height-navigation: 128px;
$height-footer-portfolio-block: 74px;

// slider
$color-border-slider-dot: #fff;
$color-border-slider-dot-active: #abb3c0;
$color-border-slider-dot-dark: #ff3c1f;
$color-border-slider-dot-dark-active: #ff3c1f;
$bg-slider-dot-active: #fff;
$bg-slider-dot-dark-active: #ff3c1f;
$width-description-slide: 950px;
$height-slider-slide: 610px;
$duration-loader: .5s;

// paralax
$color-parallax-bg: #f14a37;
$color-parallax: #fff;
$font-size-block-quote: 30px;
$font-size-author-quote: 30px;
$width-quote-parallax: 893px;

// statistics
$color-statistics: #fff;
$color-statistics-bg: #616d7b;
$width-statistics-item: 25%;
$font-size-count-statistics: 40px;
$font-size-text-statistics: 25px;
$line-height-count-statistics: 39px;

// blog
$color-posts-bg: #fff;
$color-short-info-post: #303030;
$color-description-post: #838788;
$bg-img-block-post: #656d78;
$border-block-post: #e6e9ed;
$border-title-post: #eaeaea;
$height-img-block-post: 243px;
$height-description-post: 150px;
$gap-block-post: 30px;
$count-block-post-visible: 3;

// portfolio
$color-list-portfolio: #fff;
$bg-list-portfolio: #6c7681;;
$bg-portfolio-block: #656d78;
$bg-portfolio-footer: #dddee0;
$bg-border-footer-portfolio-block: #656d77;
$width-portfolio-block-inner: 100%;
$width-list-portfolio: 100%;
$width-list-icons-portfolio-block: 160px;
$height-portfolio-block-inner: 100%;
$height-icons-portfolio: 22px;

// contacts
$color-contact-list-item: #4e5860;

// footer
$color-bg-footer: #2c2c2c;
$color-border-footer: #d4d4d4;
$color-anchor-footer: #57595b;
$height-container-footer: 128px;

// breakpoints
$breakpoints: ( x-large: 1200px, large: 992px, medium: 768px, small: 576px );
$screen-x-large: 1200px;
$screen-large: 992px;
$screen-medium: 768px;
$screen-small: 576px;

// ----- screen-x-large -----
$height-slider-slide-x-large: 663px;


// ----- screen-large -----

// head-section
$font-size-primary-large: 7vw;
$font-size-secondary-large: 4.5vw;

// slider
$font-size-description-slider-slide-large: 5vw;
$line-height-description-slider-slide-large: 6vw;
$height-slider-slide-large: 583px;

// paralax
$font-size-block-quote-large: 3vw;
$font-size-author-quote-large: 3vw;
$width-quote-parallax-large: 600px;

// statistics
$font-size-count-statistics-large: 3.5vw;
$font-size-text-statistics-large: 2.5vw;
$line-height-count-statistics-large: 3.9vw;

// blog
$count-block-post-visible-large: 2;
$height-description-post-large: 98px;

// ----- screen-medium -----

// head-section
$font-size-primary-medium: 9vw;
$font-size-secondary-medium: 6vw;

// paralax
$font-size-block-quote-medium: 3.4vw;
$font-size-author-quote-medium: 3.4vw;

// statistics
$font-size-count-statistics-medium: 30px;
$font-size-text-statistics-medium: 24px;
$line-height-count-statistics-medium: inherit;
$width-statistics-item-medium: 40%;

// blog
$count-block-post-visible-medium: 1;

// ----- screen-small -----

// form
$font-size-btn-small: 12px;
$line-height-btn-small: 40px;
$width-btn-small: 100px;
$height-btn-small: 40px;

// head-section
$font-size-primary-small: 38px;
$font-size-secondary-small: 30px;

// slider
$font-size-description-slider-slide-small: 28px;
$line-height-description-slider-slide-small: 32px;

// paralax
$font-size-block-quote-small: 20px;
$font-size-author-quote-small: 20px;

// statistics
$width-statistics-item-small: 100%;