@import "vendor/reset";

@import "variables";
@import "typography";
@import "fonts";

// @import "components/layout";
// @import "components/common/btn-general"; // common
// @import "components/header/index"; // header

body{
    color: #fafafa;
    font: 18px 'primary-regular', Arial, sans-serif;
}

.wrapper{
}

.header{
    background: #3d4148;
}

// btn

.btn{
    min-width: 148px;
    height: 48px;
    display: inline-block;
    font: 16px 'primary-semibold', Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    line-height: 50px;

    &.btn-light{

    }

    &.btn-dark{
        border: 1px solid #fff;

        &:hover{
            background: #ff3c1f;
            border: 1px solid #ff3c1f;
            // TODO
            // border-width: 1px;
            // border-style: solid;
            // border-image: linear-gradient(to top, #902616, rgba(0, 0, 0, 0)) 1 100%;
            // border-bottom: 1px solid #912616;
        }
    }
}

// end btn

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header-top{
    display: flex;
    justify-content: center;
    margin-bottom: 168px;

    .navigation{
        display: flex;
        align-items: center;
        height: 132px;

        li{
            text-transform: uppercase;
            color: #fafafa;
            margin: 0 28px;

            a{
                position: relative;
                text-decoration: none;
                color: #fafafa;
                padding: 8px;

                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 1px;
                    background: linear-gradient(to right, #ff3c1f, #902616);
                    transition: 0.2s width;

                }

                &.logo{
                    display: flex;
                    flex-flow: column wrap;
                    align-items: center;
                    font-size: 32px;
                    text-transform: capitalize;
                    margin-top: 19px;
                    transition: 0.2s opacity;

                    img{
                        margin-bottom: 16px;
                    }
                }


            }

            &.active, &:hover{

                a{
                    &:not(.logo){
                        &:after{
                            width: 100%;
                        }
                    }

                    &.logo{
                        opacity: 0.8;
                    }

                }
            }
        }
    }
}

.slider{
    &.slider-header{
        .slider-slide{
            padding-bottom: 195px;
            position: relative;

            h1{
                position: relative;
                font: 70px 'primary-semibold', Arial, sans-serif;
                color: #fafafa;
                padding-bottom: 31px;
                margin-bottom: 26px;

                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: url(../assets/img/line.svg) 0 0 no-repeat;
                    width: 201px;
                    height: 7px;
                }
            }

            p{
                font: 50px 'primary-light', Arial, sans-serif;
                line-height: 64px;
                letter-spacing: 0.35px;
                max-width: 950px;
                margin-bottom: 60px;
            }

            .slider-buttons{

                &:after{
                    content: '';
                    display: block;
                    height: 0;
                    overflow: hidden;
                    clear: both;
                }

                .btn{
                    float: left;
                    margin-right: 20px;
                }
            }

            .slider-arrows{

                .slider-arrow{
                    display: inline-block;
                    position: absolute;
                    background: url(../assets/img/arrow-slider.png) 0 0 no-repeat;
                    width: 19px;
                    height: 31px;
                    top: 24%;
                    cursor: pointer;
                    transition: 0.2s opacity;

                    &:hover{
                        opacity: 0.6;
                    }

                    &.slider-arrow-left{
                        transform: rotate(0deg);
                        left: -97px;
                    }

                    &.slider-arrow-right{
                        transform: rotate(180deg);
                        right: -97px;
                    }
                }
            }

            .slider-dots{
                display: flex;
                justify-content: center;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 34px;

                .slider-dot{
                    display: inline-block;;
                    width: 20px;
                    height: 20px;
                    border: 1px solid #fff;
                    margin: 0 9px;
                    transition: 0.2s;

                    &-active, &:hover{
                        border: 1px solid #abb3c0;
                        background: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
