.footer {
    background: $color-bg-footer;
    border-top: 1px solid $color-border-footer;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: $height-container-footer;
        padding: 10px 40px;
        position: relative;

        .logo {
            color: $color-text-logo;
            padding-left: 92px;
        }

        .copyrights {
            margin-right: 100px;
        }

        .footer-anchor {
            width: 40px;
            height: 40px;
            display: inline-block;
            background: $color-anchor-footer url(../../assets/img/icon-arrow-anchor.png) center no-repeat;
            position: absolute;
            right: 0;
            top: -20px;
            transition: .2s;

            &:hover {
                opacity: .8;
            }
        }
    }
}
