@mixin font-face($font-folder, $font) {
    @font-face {
        font-family: $font;
        src: url('../assets/fonts/#{$font-folder}/#{$font}.eot');
        src: url('../assets/fonts/#{$font-folder}/#{$font}.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/#{$font-folder}/#{$font}.woff') format('woff'),
        url('../assets/fonts/#{$font-folder}/#{$font}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin font-family($font-base) {
    font-family: $font-base, Arial, sans-serif;
}

@mixin font($font-size, $font-base) {
    font: $font-size $font-base, Arial, sans-serif;
}
