@mixin shape($color-shape) {
    &:before {
        content: "";
        border-top: 31px solid $color-shape;
        border-left: 31px solid transparent;
        position: absolute;
        top: -1px;
        right: 0;
        width: calc(50% - 17px);
        height: 0;
    }
}
