.portfolio-block {
    background: $bg-portfolio-block;
    position: relative;
    padding-bottom: $height-footer-portfolio-block;

    .portfolio-block-inner {
        transition: 0.2s opacity;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 43px 0 0 0;
        text-align: center;
        opacity: 0;

        &:hover {
            opacity: 1;
        }

        h5 {
            margin-bottom: 20px;
        }

        p {
            font-size: 15px;
        }

        footer {
            display: flex;
            justify-content: flex-end;
            background: $bg-portfolio-footer;
            height: $height-footer-portfolio-block;
            left: 0;
            right: 0;
            position: absolute;
            bottom: 0px;

            &:before {
                content: '';
                border-top: 37px solid $bg-border-footer-portfolio-block;
                border-right: 34px solid transparent;
                position: absolute;
                top: 0;
                left: 0;
                width: calc(50% - 14px);
                height: 0;
            }
        }
    }
}
