.parallax {
    position: relative;
    background: $color-parallax-bg;
    color: $color-parallax;
    padding: 30px 0 150px;

    @include shape($color-header-bg);

    .container {
        padding-top: 141px;

        .header-parallax {
            text-align: center;
        }
    }
}

@include screen-large {
    .parallax {
        padding-bottom: 75px;

        .container {
            padding-top: 50px;
        }
    }
}