.parallax{
    position: relative;
    background: $color-parallax-bg;
    color: #fff;
    padding: 30px 0 150px;

    @include shape($color-header-bg);

    .container{
        padding-top: 139px;

        .header-parallax{
          text-align: center;
        }
    }
}