.quote-parallax {
    max-width: 893px;
    margin: 0 auto;
    padding-left: 31px;

    blockquote {
        position: relative;
        margin-bottom: 40px;

        &:before {
            content: '';
            position: absolute;
            left: -30px;
            top: -15px;
            width: 51px;
            height: 40px;
            background: url(../../assets/img/icon-quote.png) 0 0 no-repeat;
        }
    }
}
