.blog {
    background: $color-posts-bg;
    padding-bottom: 128px;
    position: relative;

    .container {
        padding-top: 91px;
    }

    .head-section {
        margin-bottom: 94px;
    }
}
