.slider-post {
    position: relative;
    padding-bottom: 80px;

    .slider-slide {
        overflow: hidden;
        font-size: 0;
        height: $height-slider-slide;

        .block-post {
            display: inline-block;
            border: 1px solid $border-block-post;
            box-sizing: border-box;
            width: calc(100% / #{$count-block-post-visible} - #{$gap-block-post} / 1.5);
            height: 100%;
            vertical-align: top;

            &:not(:last-child) {
                margin-right: $gap-block-post;
            }
        }
    }
}

.img-block-post {
    height: $height-img-block-post;
    background: $bg-img-block-post;
    position: relative;

    &:before {
        content: "";
        border-top: 37px solid $color-posts-bg;
        border-left: 33px solid transparent;
        position: absolute;
        top: -1px;
        right: -1px;
        width: calc(50% - 17px);
        height: 0;
    }
}

.content-block-post {
    padding: 21px 28px 30px 25px;
    letter-spacing: -.1px;
    @include font(14px, $secondary-regular);

    .title-post {
        border-bottom: 1px solid $border-title-post;
        display: block;
        padding-bottom: 12px;
        margin-bottom: 14px;
        letter-spacing: .5px;
        @include font(25px, $primary-regular);
    }

    .short-info-post {
        color: $color-short-info-post;
        margin-bottom: 8px;
        line-height: 14px;

        @include clearfix;
    }

    .info-post-item {
        float: left;
        margin-bottom: 10px;

        @include clearfix;

        &:not(:last-child) {
            margin-right: 14px;
        }

        .icons-blog {
            float: left;
            background: url(../../assets/img/icons-blog.png) 0 0 no-repeat;
            width: 15px;
            height: 15px;
            margin: 0 15px 0 0;

            &.icon-author {
                background-position: 0 0;
            }

            &.icon-calendar {
                background-position: 0 -15px;
            }

            &.icon-comment {
                background-position: 0 -30px;
            }
        }
    }

    .description-post {
        color: $color-description-post;
        margin-bottom: 20px;
        line-height: 25px;
        letter-spacing: .1px;
        max-height: $height-description-post;
        overflow: hidden;
    }
}

@include screen-x-large {
    .slider-post {

        .slider-slide {
            height: $height-slider-slide-x-large;
        }
    }
}

@include screen-large {
    .slider-post {

        .slider-slide {
            height: $height-slider-slide-large;
    
            .block-post {
                width: calc(100% / #{$count-block-post-visible-large} - #{$gap-block-post});
            }
        }
    }

    .content-block-post {

        .description-post {
            max-height: $height-description-post-large;
        }

        .info-post-item {

            &:not(:last-child) {
                margin-right: 8px;
            }

            .icons-blog {
                margin-right: 9px;
            }
        }
    }
}

@include screen-medium {
    .slider-post {
        
        .slider-slide {
            height: inherit;

            .block-post {
                width: calc(100% / #{$count-block-post-visible-medium});
                margin-bottom: 20px;

                &.hidden-medium {
                    display: none;
                }
            }
        }
    }
}
