.slider-header {

    .slider-slide {
        padding-bottom: 195px;
        position: relative;

        .title-slider-slide {
            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                background: url(../assets/img/line.svg) 0 0 no-repeat;
                width: 201px;
                height: 7px;
            }
        }

        .description-slider-slide {
            @include font(50px, $primary-light);
            max-width: $width-description-slide;
            margin-bottom: 58px;
            letter-spacing: 0.5px;
            line-height: 64px;
        }
    }
}

@include screen-large {
    .slider-header{
        .slider-slide{
            padding-bottom: 100px;

            .title-slider-slide{
                &:after {
                    width: 100%;
                    background-position: center top;
                }
            }

            .description-slider-slide {
                margin-bottom: 30px;
                font-size: $font-size-description-slider-slide-large;
                line-height: $line-height-description-slider-slide-large;
            }
        }
    }
}

@include screen-small {
    .slider-header {
        .slider-slide {
            .title-slider-slide {
                padding-bottom: 22px;
                margin-bottom: 20px;
            }

            .description-slider-slide {
                font-size: $font-size-description-slider-slide-small;
                line-height: $line-height-description-slider-slide-small;
            }
        }
    }
}
