
.slider-header {
    color: $color-header-base;
    
    .slider-slide{
        padding-bottom: 195px;
        position: relative;

        h1{
            &:after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                background: url(../assets/img/line.svg) 0 0 no-repeat;
                width: 201px;
                height: 7px;
            }
        }

        p{
            font: 50px 'primary-light', Arial, sans-serif;
            line-height: 64px;
            letter-spacing: 0.35px;
            max-width: 950px;
            margin-bottom: 60px;
        }
    }
}