.slider-buttons {
    margin-left: 3px;
    @include clearfix;

    .btn-slider-buttons {
        float: left;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

@include screen-large {
    .slider-buttons {
        font-size: 0;

        .btn-slider-buttons, 
        .btn-slider-buttons:not(:last-child){
            float: none;
            margin: 10px 10px 0;

        }
    }
}