.slider {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 120px;
    overflow: hidden;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    @include screen-large {
        cursor: pointer;
    }

    .slider-inner {
        position: absolute;
    }
}

@include screen-large {
    .slider {
        text-align: center;
        padding: 0 50px;
    }
}

@include screen-small {
    .slider {
        padding: 0 15px;
    }
}
