
.slider-buttons{

    &:after{
        content: '';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    .btn{
        float: left;
        margin-right: 20px;
    }
}
