
.slider-header{
    
    .slider-dots{
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 34px;

        .slider-dot{
            width: 20px;
            height: 20px;
            border: 1px solid $color-border-slider-dot;
            margin: 0 9px;
            transition: 0.2s;

            &-active, &:hover{
                border: 1px solid $color-border-slider-dot-active;
                background: $bg-slider-dot-active;
                cursor: pointer;
            }
        }
    }
}
