.contact-us {

    .container {
        padding: 141px 0 65px;

        .head-section {
            margin-bottom: 56px;
            text-align: left;

            .head-secondary:after,
            .head-description {
                margin: 0;
            }
        }

        .contact-content {
            display: flex;
        }
    }
}
