.contact-us {

    .container {
        padding: 141px 0 43px;

        @include screen-x-large {
            padding-left: 15px;
            padding-right: 15px;
        }

        @include screen-large {
            padding-top: 60px;
        }
    }

    .head-section {
        margin-bottom: 56px;
        text-align: left;

        .head-secondary:after,
        .head-description {
            margin: 0;
        }

        @include screen-x-large {
            text-align: center;

            .head-secondary:after,
            .head-description {
                margin: 0 auto;
            }
        }
    }

    .contact-content {
        display: flex;

        @include screen-large {
            flex-flow: column wrap;
        }
    }
}
