.statistics {
    background: $color-statistics-bg;
    color: $color-statistics;
    position: relative;
    @include font-family($primary-regular);

    @include shape($color-parallax-bg);

    .list-statistics {
        padding: 91px 0 93px;

        @include clearfix;
    }
}
