.btn {
    min-width: 148px;
    height: 48px;
    display: inline-block;
    color: #fff;
    text-align: center;
    transition: 0.2s;

    &.btn-dark {
        border: 1px solid $border-btn-dark;

        &:hover {
            background: $bg-btn-dark-active;
            border: 1px solid $border-btn-dark-active;
        }
    }
}
