.head-section {
    position: relative;
    text-align: center;
    margin-bottom: 77px;

    .head-title {
        position: relative;
        padding-bottom: 16px;
        margin-bottom: 18px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            width: $width-line-head-title;
            height: $height-line-head-title;
            margin: 0 auto;
        }
    }

    &.head-light {
        .head-title {

            &:after {
                background: $bg-line-head-title-light;
            }
        }
    }

    &.head-dark {
        color: $color-head-section-dark;

        .head-title {
            padding-bottom: 24px;
            margin-bottom: 18px;

            &:after {
                background: $bg-line-head-title-dark;
            }
        }

        .head-description {
            margin: 0 auto;
            max-width: $width-paragraph-head-title;
            color: $color-paragraph-head-dark;
        }
    }

    &.head-left {
        text-align: left;

        .head-title,
        .head-description {

            &:after {
                margin: 0;
            }
        }

        .head-description {
            margin: 0;
        }
    }
    
    &.head-blog{
        .head-title{
            padding-bottom: 25px;
        }

        .head-description{
            line-height: $line-height-head-description;
        }
    }

    &.head-contact-us{
        .head-title{
            padding-bottom: 14px;
        }
    }

    .head-description{
        letter-spacing: .05px;
    }
}

@include screen-large {
    .head-section,
    .head-section.head-blog,
    .head-section.head-contact-us {
        margin-bottom: 40px;
    }
}

@include screen-medium {
    .head-description {
        line-height: $line-height-head-description;
    }
}
