body {
    color: $color-body;
}

.container {
    max-width: $width-container;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: center;
    margin-bottom: 168px;
}

.header {
    background: $color-header-bg;
}
