.logo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-transform: capitalize;
    transition: .2s opacity;
    color: $color-text-logo;

    &:hover {
        opacity: .8;
    }

    img {
        margin-bottom: 16px;
    }
}
