.hidden {
    display: none;
    
    @each $breakpont, $size in $breakpoints {
        @media screen and (max-width: $size) {
            &-#{$breakpont} {
                display: none;
            }
        }
    }
}

.visible {
    
    @each $breakpont, $size in $breakpoints {
        &-#{$breakpont} {
              display: none;
        }
    }

      @each $breakpont, $size in $breakpoints {
        @media screen and (max-width: $size) {
              &-#{$breakpont} {
                  display: block;
              }
          }
      }
}
