<div class="portfolio-block">
  <div class="portfolio-block-inner">
    <h5 class="head-extra-secondary title-portoflio-block">{{title}}</h5>
    <p class="description-portfolio-block">{{description}}</p>
    <footer class="footer-portfolio-block">
      <ul class="list-icons-portfolio-block">
        <li class="list-portfolio-block-item">
          <a class="icons-portfolio icon-ti-link" href="#"></a>
        </li>
        <li class="list-portfolio-block-item">
          <a class="icons-portfolio icon-zoom-in" href="#"></a>
        </li>
      </ul>
    </footer>
  </div>
</div>