<li class="statistics-item">
  <i class="{{icon}}"></i>
  <div class="inner-statistics-item">
    <strong class="count-statistics-item">{{count}}</strong>
    <span class="text-statistics-item">{{text}}</span>
  </div>
</li>