.btn {
    min-width: 148px;
    height: 48px;
    display: inline-block;
    color: $color-btn;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: .2s;

    &.btn-dark {
        border: 1px solid $border-btn-dark;

        &:hover {
            background: $bg-btn-dark-active;
            border: 1px solid $border-btn-dark-active;
            color: $color-btn;
        }
    }

    &.btn-light {
        color: $border-btn-dark-active;
        border: 1px solid $border-btn-dark-active;

        &:hover {
            background: $border-btn-dark-active;
            color: $color-btn;
        }
    }
}
