
.input-general{
    outline: none;
    min-width: 100px;
    width: 100%;
    font: 15px 'secondary-light-italic', Arial, sans-serif;
    color: #4e5860;
    padding: 17px 16px 17px;
    border: 1px solid;
    border-image-source: linear-gradient(to bottom, transparent, #aab2bd);
    border-image-slice: 1;
}
