.input-general {
    outline: none;
    min-width: $min-width-input-general;
    width: $width-input-general;
    color: $color-input-general;
    padding: 17px 16px 17px;
    border: 1px solid;
    border-image-source: $border-input-general;
    border-image-slice: 1;
}
