.textarea-general {
    outline: none;
    width: $width-textarea-general;
    color: $color-textarea-general;
    padding: 16px 16px 16px;
    min-height: $min-height-textarea-general;
    border: 1px solid;
    border-image-source: $border-textarea-general;
    border-image-slice: 1;
}
