.header {
    background: $color-header-bg;
    position: relative;

    .header-top {
        display: flex;
        justify-content: center;
        margin-bottom: 172px;
    }
}

@include screen-large {
    .header{
        
        .header-top {
            margin-bottom: 50px;

            .container {
                box-sizing: border-box;
                padding: 0;
            }
        }
    }
}

@include screen-medium {
    .header {

        .header-top {
            margin-bottom: 20px;
        }

        .container{
            width: 100%;

            @include clearfix;

            .navigation {
                float: left;
            }
        }
    }
}
